.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

@media (min-width: 800px) {
  .wrapper {
    flex-direction: row;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  width: 100vw;
  text-align: center;
  justify-content: center;
}

@media (min-width: 800px) {
  .content {
    width: 40vw;
    padding: 0;
  }
}

.image {
  background-size: cover;
  background-position: top;
  background-image: url(../images/jarek.png);
  height: 70vh;
}

@media (min-width: 800px) {
  .image {
    width: 50vw;
    height: 70vw;
  }
}

.header {
  font-size: 2.5rem;
  font-weight: 200;
  margin-bottom: 3rem;
}

@media (min-width: 800px) {
  .header {
    font-size: 1.7rem;
  }
}

@media (min-width: 1400px) {
  .header {
    font-size: 2.5rem;
  }
}

.contact {
  margin-top: 6rem;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

@media (min-width: 800px) {
  .contact {
    margin-top: 1.7rem;
    font-size: 1.3vw;
  }
}

@media (min-width: 1400px) {
  .contact {
    font-size: 1.4rem;
  }
}

@media (min-width: 1400px) {
  .contact {
    margin-top: 10rem;
  }
}

.email {
  margin-bottom: 1.5rem
}

.aboutText {
  font-size: 1.4rem;
  font-weight: 200;
}

@media (min-width: 800px) {
  .aboutText {
    font-size: 1.3vw;
  }
}

@media (min-width: 1400px) {
  .aboutText {
    font-size: 1.4rem;
  }
}

.logo {
  width: 17rem;
  margin-bottom: 3rem;
}

@media (min-width: 800px) {
  .logo {
    width: 16vw;
  }
}

.contact a {
  text-decoration: none;
  font-weight: 200;
}

.phone, .address {
  display: inline-block;
  width: 20%;
}

.social {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  align-self: center;
}

@media (min-width: 800px) {
  .social {
    justify-content: space-between;
    width: 20%;
    align-self: auto;
  }
}

.separator {
  width: 70vw;
  border-bottom: 2px solid black;
}

.sectionHeader {
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: 6px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.sectionWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
