.button {
  width: 50vw;
  height: 5rem;
  background: #A2B58B;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  font-size: calc(.5rem + 1vw);
  text-decoration: none;
  opacity: 1;
}

.button:hover {
  background: #A2B58B;
  opacity: 0.8;
}

@media (min-width: 800px) {
  .button {
    width: 25vw;
    font-size: calc(.1rem + 1vw);
  }
}
