.header {
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: 6px;
  margin-bottom: 3rem;
}

@media (min-width: 800px) {
  .header {
    font-size: 3.2rem;
  }
}

.wrapper {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cateringLogo {
  margin: 0 2rem;
  width: 25rem;
}

.imageWrapper {
  position: relative;
  height: 50vh;
  width: 100vw;
  max-width: 100%; /*https://stackoverflow.com/a/30489928*/
}

@media (min-width: 800px) {
  .imageWrapper {
    height: 80vh;
  }
}

.image {
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(../images/catering-plate.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 60vw;
  width: 60vw;
}

@media (min-width: 800px) {
  .image {
    height: 40rem;
    width: 40rem;
  }
}

.rectangle {
  background: #687C32;
  width: 100%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (min-width: 1000px) {
  .rectangle {
    height: 50%;
  }
}

@media (min-width: 1400px) {
  .rectangle {
    height: 60%;
  }
}

.ctaWrapper {
  z-index: 300;
}
