.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 2em;
  margin-top: 4rem;
}

.responsiveSpan {
  display: block;
}

@media (min-width: 800px) {
  .responsiveSpan {
    display: inline-block;
  }
}

.contact a {
  text-decoration: none;
}

.desktopOnly {
  display: none;
}

@media (min-width: 800px) {
  .desktopOnly {
    display: inline-block;
  }
}

.separator {
  width: 70vw;
  border-bottom: 2px solid black;
}

.logo {
  margin: 2rem;
}

.contact {
  margin: 2rem 0 4rem;
}

a {
  color: black;
  display: inline-block;
}

.rightsAuthor {
  margin: 2rem 0 5rem;
  font-size: inherit;
}

@media (min-width: 800px) {
  .rightsAuthor {
    font-size: .8em;
  }
}

.textSeparator {
  margin: 0 1rem;
}

