header {
  background-color: white;
  box-shadow: 0px 3px 10px #00000029;
}

.collapsed {
  display: none;
}

.expanded {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
  padding-bottom: 4em;
  justify-content: space-between;
  height: 30vh;
  border-top: 1px solid lightgray;
}

.content {
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
  .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.navigationCommon {
  letter-spacing: 2px;
  font-weight: 500;
  justify-content: space-between;
}

.navigationWrapper {
  width: 30%;
  font-size: 0.8rem;
  display: none;
}

@media (min-width: 1400px) {
  .navigationWrapper {
    display: flex;
  }
}

@media (min-width: 1600px) {
  .navigationWrapper {
    font-size: 0.95rem;
  }
}

.navigationWrapperMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 60%;
}

.logo {
  width: 18rem;
  margin-left: calc(50% - 18rem/2);
}

@media (min-width: 1400px) {
  .logo {
    margin-left: 0;
  }
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.socialWrapper {
  width: 30%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 20%;
}

@media (min-width: 1400px) {
  .socialWrapper {
    display: flex;
  }
}

.socialWrapperMobile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.icon {
  height: 1.4rem;
  width: 1.4rem;
}

.burger {
  display: block;
}

@media (min-width: 1400px) {
  .burger {
    display: none;
  }
}
