.wrapper {
  margin: 10rem auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 1200px) {
  .wrapper {
    width: 60vw;
  }
}

.header {
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: 6px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.subheader {
  font-size: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-weight: 700;
  line-height: 2;
  text-align: center;
}

@media (min-width: 800px) {
  .subheader {
    flex-direction: row;
    justify-content: space-between;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 85vw;
}

@media (min-width: 800px) {
  .textWrapper {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }
}

.textBlock {
  padding: 1rem;
  width: 100%;
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: 300;
}

@media (min-width: 800px) {
  .textBlock {
    width: 50%;
  }
}

.separator {
  width: 70vw;
  border-bottom: 2px solid black;
}
