.masthead {
  height: 90vh;
  color: transparent;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artwork {
  width: 30rem;
  fill: white;
}
