.masthead {
  height: 90vh;
  color: transparent;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artwork {
  width: 25rem;
  height: 25rem;
  fill: white;
}

@media (min-width: 800px) {
  .artwork {
    width: 35rem;
    height: 35rem;
  }
}
