.masthead {
  height: 75vh;
  background-size: cover;
  background-position: 50% 50%;
}

.plums {
  background-image: url(../images/plums.png);
}

.mango {
  background-image: url(../images/mango.png);
}

.redOnions {
  background-image: url(../images/red-onions.png);  
}

.chilies {
  background-image: url(../images/chily.png);  
}

.apples {
  background-image: url(../images/apples.png);  
}

.cherries {
  background-image: url(../images/cherries.png); 
}
