.tiles {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 1200px) {
  .tiles {
    flex-direction: row;
  }
}

.oneHalf {
  width: 100vw;
  height: 100vw;
}

.fullHeight {
  height: 100%;
}

@media (min-width: 1200px) {
  .oneHalf {
    width: 50vw;
    height: 50vw;
  }
}
