.row {
  display: flex;
  flex-direction: column;
  text-decoration: none;
/*  transition: filter .2s ease-in-out;*/
}
/*
.row:hover {
  filter: brightness(50%);
}
*/
.rowReverse {
  flex-direction: column-reverse;
}

@media (min-width: 800px) {
  .row {
    flex-direction: row;
  }
}

.hiddenOnMobile {
  display: none;
}

@media (min-width: 800px) {
  .hiddenOnMobile {
    display: block;
  }
}
